.cards {
    width: 100%;
  
    display: flex;       
    
    flex-wrap: wrap;     
   
    justify-content: space-around; 
    align-items: flex-start;
   
    gap: 30px; 
}


.card {
 
    width: calc(30% - 15px); 
    
    height: 20vh;
    border: solid 1px #e0e0e0;
    
    
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
   
    margin-bottom: 0; 
    cursor: pointer;
}

/* Garante que o conteúdo interno (texto e preço) e a imagem se dividam bem */


.card img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    border-radius: 10px;
}

.card-conteudo{
    width: 70%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    h2{
        padding: 10px;
        color: #656d4a;
        font-size: 1.2rem;
    }

    p{
        width: 90%;
        color: #a4ac86;
        padding-bottom: 10px;
        font-size: .9rem;
        
    }
    

}

