.categorias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    button{
    width: 20%;
    height: 5vh;
    font-size: 1rem;
    font-weight: bold;
    background-color: #081c15;
    color: #a3b18a;
    border: none;
    border-radius: 7px;
    font-weight: lighter;
    cursor: pointer;
    transition: 0.3s all;
    }

    button:hover{
        background-color: #1b4332;
       
        transition: 0.3s;
    }
}